<div class="jumbotron">
  <div class="container">
    <h1>Welcome to the home page</h1>
    <h2>Start your free trial today</h2>
    <a class="btn btn-primary" href="http://hackeryou.com/">Get Now</a>
  </div>
</div>
